<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Django" path="*" verb="*" modules="fastCgiModule" scriptProcessor="%pythonpath%\python.exe|%pythonpath%\django.core.handlers.wsgi" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Django" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="wsgi.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
